////////////////////////////////
//遊戲模式
.playerMode {
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  background-color: var(--color-player-background);
  pointer-events: auto;

  display: flex;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;

  visibility: hidden;
  // transition: transform 1s cubic-bezier(.21, 1.93, .53, 0.64); //彈跳效果

  &__page {
    width: 70%;
    min-width: 5rem;
    padding: 2rem 0.5rem;
    background-color: var(--color-grey-light-4);
    border-radius: 1rem;
    box-shadow: var(--shadow-dark);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__tablewrap {
    width: 60%;
  }

  &__table {
    width: 100%;
    max-width: 300px;
    min-height: 300px;
    border-collapse: collapse;
    margin: 0 auto;

    tr td {
      height: 10em;
      width: 10em;
      text-align: center;
    }

    tr td:not(:last-child) {
      border-right: 0.6rem solid var(--color-third);
    }

    tr:not(:last-child) td {
      border-bottom: 0.6rem solid var(--color-third);
    }

    &--circle,
    &--fork {
      display: inline-block;
      width: 100%;
      font-size: 3rem;
      color: var(--color-secondary);
    }
  }

  // 右半邊
  &__whoseTurn {
    width: 40%;
    margin: 0 auto;
    text-align: center;

    &--player {
      font-size: 2rem;
      color: var(--color-secondary);

      span {
        font-size: 3.5rem;
        color: var(--color-third);
      }
    }

    button {
      background-image: linear-gradient(to right, var(--color-secondary), var(--color-third));
    }
  }
}

//動畫特效
.winner-animation {
  animation: winnerStyle 0.5s 5;
}

@keyframes winnerStyle {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1.5);
  }
}

@media (max-width:$bp-small) {
  .playerMode {
    &__tablewrap {
      width: 100%;
    }

    &__table {
      tr td {
        height: 5rem;
        width: 5rem;
      }
    }

    &__page {
      width: 100%;
      align-items: center;
      flex-direction: column;
    }


    &__whoseTurn {
      width: 100%;
    }
  }
}